<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Page/css/template.css">
    <link rel="stylesheet" href="~/Page/css/style.css">
    <link rel="stylesheet" href="~/Page/css/owl.css">
    <link rel="stylesheet" href="~/Page/css/font-icon.css">
    <link rel="stylesheet" href="~/Page/css/font-arsenal.css">
    <link rel="stylesheet" href="~/Page/css/animate.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container p-0">
                <div class="row align-items-center">

                    <div class="col-md-8">
                        <ul class="">
                            <li>
                                <a href="#">
                                    <i class="fas fa-phone-alt"></i>
                                    Hotline: 0969.131.921
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Giới thiệu
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Liên hệ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Chính sách ship hàng
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="justify-content-end">
                            <li>
                                <a href="login.html">
                                    <i class="fas fa-sign-in-alt"></i>
                                    Đăng nhập
                                </a>
                            </li>
                            <li>
                                <a href="register.html">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Đăng ký
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <nav class="main_menu" id="main_menu">
            <div class="container p-0">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Page/images/my-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="ul_main">
                            <li class="active">
                                <a href="index.html">
                                    Trang Chủ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Nam
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    Nữ
                                </a>
                                <ul class="ul_sub">
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="product.html">
                                    Bé trai
                                </a>
                                <ul class="ul_sub">
                                    <li>
                                        <a href="product.html">Nấm con cua</a>
                                    </li>
                                    <li>
                                        <a href="product.html">Nấm con bò</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="#">
                                    Bé gái
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Công sở
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Thể thao
                                </a>
                            </li>
                            <li class="control_search">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul class="ul_main justify-content-end">
                            <li>
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <form action="#" class="form-search">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Tìm kiếm" />
                                    <button class="btn-search" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="main_menu" id="fixed_menu">
            <div class="container p-0">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Page/images/my-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="ul_main">
                            <li class="active">
                                <a href="index.html">
                                    Trang Chủ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Nam
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    Nữ
                                </a>
                                <ul class="ul_sub">
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Tin nhà đất</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="product.html">
                                    Bé trai
                                </a>
                                <ul class="ul_sub">
                                    <li>
                                        <a href="product.html">Nấm con cua</a>
                                    </li>
                                    <li>
                                        <a href="product.html">Nấm con bò</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="#">
                                    Bé gái
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Công sở
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Thể thao
                                </a>
                            </li>
                            <li class="control_search">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <ul class="ul_main justify-content-end">
                            <li>
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <form action="#" class="form-search">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Tìm kiếm" />
                                    <button class="btn-search" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="banner-top">
            <div class="owl-carousel owl-theme" id="main_slide">
                <div class="item">
                    <div class="banner">
                        <div class="img-banner">
                            <img src="~/Page/images/banner-top-01.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="banner">
                        <div class="img-banner">
                            <img src="~/Page/images/banner-top-02.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="banner">
                        <div class="img-banner">
                            <img src="~/Page/images/banner-top-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="product-ss">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="name-cate">
                            Giành cho nam
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme product_slide" id="product_slide_men">
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="product-ss">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="name-cate">
                            Giành cho nữ
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme product_slide" id="product_slide_girl">
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="product-ss">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="name-cate">
                            Giành cho bé trai
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme product_slide" id="product_slide_child_girl">
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="product-ss">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="name-cate">
                            Giành cho bé gái
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme product_slide" id="product_slide_child_men">
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-product">
                                    <div class="img-item">
                                        <a href="#">
                                            <img src="~/Page/images/img-product-01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="box-size">
                                        <div class="count-size">
                                            +7 size
                                        </div>
                                        <div class="list-size">
                                            <span>38</span>
                                            <span>39</span>
                                            <span>40</span>
                                            <span>41</span>
                                            <span>42</span>
                                            <span>43</span>
                                            <span>44</span>
                                            <span>45</span>
                                        </div>
                                    </div>

                                    <h3 class="name-product">
                                        <a href="#">
                                            Giày Thể Thao Nam Biti's Hunter X - Summer 2k19 BKL DSMH01000TRG (Trắng)
                                        </a>
                                    </h3>
                                    <div class="price-product">
                                        <span>299.000 đ</span>
                                        <del>
                                            399.000 đ
                                        </del>
                                    </div>
                                    <div class="add-to-cart">
                                        <a href="#">
                                            Mua hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="the-news">
            <div class="container p-0">
                <div class="row">
                    <div class="col-md-12 text-center mb-1">
                        <h2 class="title-section">Tin tức</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="item-farm p-0">
                            <div class="img-item">
                                <a href="#">
                                    <img src="~/Page/images/img-product-01.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-1">
                                <h3 class="title">
                                    <a href="#">
                                        Đâu là địa chỉ nha khoa Quận 1 Sài Gòn an toàn – uy tín?
                                    </a>
                                </h3>
                                <div class="summary">
                                    Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="item-farm p-0">
                            <div class="img-item">
                                <a href="#">
                                    <img src="~/Page/images/img-product-02.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-1">
                                <h3 class="title">
                                    <a href="#">
                                        Răng bị chết tủy phải làm sao? Quy trình điều trị răng chết tủy như thế nào?
                                    </a>
                                </h3>
                                <div class="summary">
                                    Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="item-farm p-0">
                            <div class="img-item">
                                <a href="#">
                                    <img src="~/Page/images/img-product-04.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-1">
                                <h3 class="title">
                                    <a href="#">
                                        Những lưu ý sau khi tẩy trắng răng tại nhà bạn không nên bỏ qua
                                    </a>
                                </h3>
                                <div class="summary">
                                    Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="item-farm p-0">
                            <div class="img-item">
                                <a href="#">
                                    <img src="~/Page/images/img-product-01.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-1">
                                <h3 class="title">
                                    <a href="#">
                                        Đâu là địa chỉ nha khoa Quận 1 Sài Gòn an toàn – uy tín?
                                    </a>
                                </h3>
                                <div class="summary">
                                    Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container p-0">
                <div class="top-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title">
                                Trợ giúp
                            </h3>
                            <div class="list-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Trạng thái đơn hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Hình thức giao hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Hình thức thanh toán
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Chính sách đổi trả
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Chính sách bảo hành
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Chính sách khách hàng thân thiết
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="title">
                                Thông tin
                            </h3>
                            <div class="list-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Tuyển Dụng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Hệ thống cửa hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Liên hệ hợp tác
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Q&A
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="title">
                                Về chúng tôi
                            </h3>
                            <div class="list-link">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Về Bitis
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Câu chuyện Biti's
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Bước tiến phát triển
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Hoạt Động
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-chevron-right"></i>
                                            Liên hệ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="title">
                                Liên hệ với chúng tôi
                            </h3>
                            <div class="list-contact">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <h4 class="title-text">
                                                ADDRESS
                                            </h4>
                                            <div class="dt-txt">
                                                demo address #8901 Marmora Road Chi Minh City, Vietnam
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-mobile"></i>
                                        </div>
                                        <div class="text">
                                            <h4 class="title-text">
                                                PHONE
                                            </h4>
                                            <div class="dt-txt">
                                                0800-123456 (24/7 Support Line)
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-fax"></i>
                                        </div>
                                        <div class="text">
                                            <h4 class="title-text">
                                                FAX
                                            </h4>
                                            <div class="dt-txt">
                                                (123) 123-4567
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <h4 class="title-text">
                                                EMAIL
                                            </h4>
                                            <div class="dt-txt">
                                                info@demo.com
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bot-footer">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-4">
                            <ul class="list-ft">
                                <li>
                                    <a href="#">
                                        Điều khoản
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Chính sách bảo mật
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Hướng dẫn sử dụng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="img-ddk">
                                <img src="~/Page/images/Da-dang-ky-bo-cong-thuong.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                Giấy CNĐKDN: 0301340497 được cấp ngày 20/01/1992,
                                được sửa đổi lần thứ 20 ngày 28/12/2015 bởi Sở Kế hoạch và Đầu tư TPHCM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <button class="back-to-top">
            <i class="fas fa-chevron-up"></i>
        </button>

        <button id="btn_to_form_book">
            <i class="fas fa-share"></i>
        </button>
    </div>

    <script src="~/Page/js/jquery.js"></script>
    <script src="~/Page/js/owl.js"></script>
    <script src="~/Page/js/app.js"></script>
    <script src="~/Page/js/wow.js"></script>
    <script>
		new WOW().init();
    </script>
</body>
</html>